{# 递归生成树状结构 #}
{% macro categoryNode(category, depth) %}
    {% import _self as forms %}
    {% if category.children is not empty %}
        {% for tmp in category.children %}
            {% if tmp.children is not empty %}
                {% set style="folder open icon" %}
            {% else %}
                {% set style="file icon" %}
            {% endif %}
            <div class="level-{{ depth }} item" data-value="{{ tmp.id }}">
                <i class="{{ style }}"></i>
                {{ tmp.title }}
            </div>
            {{ forms.categoryNode(tmp, depth+1) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{# 分类选择器 #}
{%- block category_widget -%}
<div class="ui category box">
    <div class="ui fluid selection dropdown">
        <input type="hidden" {{ block('widget_attributes') }}>
        <i class="dropdown icon"></i>
        <div class="default text">{{ 'category.choose'|trans }}</div>
        <div class="menu">
            {% import _self as forms %}
            {% if categories is not empty %}
                {% for category in categories %}
                    {% if category.children is not empty %}
                        {% set style="folder open icon" %}
                    {% else %}
                        {% set style="file icon" %}
                    {% endif %}
                    <div class="level-0 item" data-value="{{ category.id }}">
                        <i class="{{ style }}"></i>
                        {{ category.title }}
                    </div>
                    {{ forms.categoryNode(category, 1) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{%- endblock category_widget -%}