{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/myexpcms/jstree/themes/default/style.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}{{ 'category.manage'|trans }}{{ parent() }}{% endblock %}
{% block breadcrumd %}
    <div class="active section">{{ 'category.manage'|trans }}</div>
{% endblock %}
{# 树状显示 #}
{% macro categoryNode(category) %}
    {% import _self as forms %}
    {% if category.children is not empty %}
        <ul>
            {% for tmp in category.children %}
                <li dbid="{{ tmp.id }}">{{ tmp.title }}{{ forms.categoryNode(tmp) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
{% block content %}
    <div class="ui top attached tabular menu">
        {% for contentModel in contentModels %}
            <a class="{% if contentModelId == contentModel.id %}active {% endif %}item" href="{{ path('admin_category',{'contentModelId':contentModel.id}) }}">{{ contentModel.title }}</a>
        {% endfor %}
    </div>
    <div class="ui bottom attached active tab segment">
        <div id="jstree_category_div">
            <ul>
                <li>{{ 'category.root_node'|trans }}
                    {% import _self as forms %}
                    {% if topCategories is not empty %}
                        <ul>
                            {% for category in topCategories %}
                                <li dbid="{{ category.id }}">{{ category.title }}{{ forms.categoryNode(category) }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/myexpcms/jstree/jstree.min.js') }}"></script>
    <script type="text/javascript">
        
        // 参数及路径
        var contentModelId = {{ contentModelId }};
        var createUrl = '{{ path('admin_category_create') }}';
        var renameUrl = '{{ path('admin_category_rename') }}';
        var deleteUrl = '{{ path('admin_category_delete') }}';
        var moveUrl = '{{ path('admin_category_move') }}';
        var pasteUrl = '{{ path('admin_category_paste') }}';
        
        // 获得ID
        function getId(node){
            return node.li_attr.dbid;
        }
        
        // 获得PID
        function getPid(pid){
            var parent = $('#' + pid);
            return $(parent).attr('dbid');
        }
        
        //构建表单
        function buildFormData(params){
            var newParams = {};
            for(var key in params){
                newParams['category['+key+']'] = params[key];
            }
            return newParams;
        }
        
        // 自动执行
        $(function () {

            $('#jstree_category_div').on("create_node.jstree", function (e, data) {
                var node = data.node;
                var param = {
                    parent: getPid(data.parent), 
                    title: node.text, 
                    contentModel:contentModelId
                };
                $.post(createUrl, buildFormData(param), function(data){
                    if(data.code === 'ok'){
                        node.li_attr.dbid = data.id;
                    } else {
                        alert(data.errors);
                    }
                },'json');
            }).on("rename_node.jstree", function(e, data){
                var param = {
                    id: getId(data.node),
                    title: data.text
                };
                $.post(renameUrl, param, function(data){
                    if(data.code !== 'ok'){
                        alert(data.errors);
                    }
                },'json');
            }).on("delete_node.jstree", function(e, data){
                var param = {id: getId(data.node)};
                $.post(deleteUrl, param, function(data){
                    if(data.code !== 'ok'){
                        alert(data.errors);
                    }
                },'json');
            }).on("move_node.jstree", function(e, data){
                var param = {
                    id: getId(data.node), 
                    parent: getPid(data.parent)
                };
                $.post(moveUrl, param, function(data){
                    if(data.code !== 'ok'){
                        alert(data.errors);
                    }
                },'json');
            }).on("paste.jstree", function(e, data){
                
                if(data.mode === 'move_node'){
                    return ;
                }
                
                for(var i in data.node){
                    
                };
                
                var param = {
                    id: getId(data.node), 
                    parent: getPid(data.parent)
                };
                $.post(pasteUrl, param, function(data){
                    if(data.code !== 'ok'){
                        alert(data.errors);
                    }
                },'json');
            });

            $('#jstree_category_div').jstree({
                core: {
                    check_callback: true
                },
                plugins: ['contextmenu', 'dnd', 'sort', 'state']
            });
        });
    </script>
{% endblock %}
