{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/myexpcms/jstree/themes/default/style.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}{{ 'category.list'|trans }}{% endblock %}
{% block breadcrumd %}
    <div class="active section">{{ 'category.manage'|trans }}</div>
{% endblock %}
{% block content %}
    <div class="ui teal pointing secondary menu">
        {% for website in websites %}
        <a class="item{% if websiteId == website.id %} active{% endif %}" href="{{ path('admin_category',{'websiteId': website.id}) }}">{{ website.title }}</a>
        {% endfor %}
    </div>
    <div class="ui top attached tabular menu">
        {% for contentModel in contentModels %}
        <a class="{% if contentModelId == contentModel.id %}active {% endif %}item" href="{{ path('admin_category',{'websiteId': websiteId, 'contentModelId':contentModel.id}) }}">{{ contentModel.title }}</a>
        {% endfor %}
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first/a">
        <div id="jstree_category_div">
            <ul>
                <li>Root node
                  <ul>
                    <li>Child node 1</li>
                    <li>Child node 2</li>
                  </ul>
                </li>
              </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/myexpcms/jstree/jstree.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#jstree_category_div').jstree();
        });
    </script>
{% endblock %}
