{% extends 'MyexpCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'category.new'|trans }}{% endblock %}
{% block breadcrumd %}
        <a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> ><a href="{{path('category')}}">{{ 'category.manage'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'category.new'|trans }}</a></span>
{% endblock %}
{% block content %}
<form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        {% form_theme form 'MyexpCmsBundle:Form:tabs.html.twig' %}
        {{ form_widget(form) }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ 'common.submit'|trans }}" />
            <input type="reset" class="btn btn-danger" value="{{ 'common.reset'|trans }}" />
        </div>
</form>
<form>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'common.back_list'|trans }}"  onclick="saveToDraft(this, '{{ path('category') }}');" />
    </div>
</form>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        $('.tabs').tabs();
    });
</script>
{% endblock %}