{% macro menu(categories, pages) %}
    {% if categories is not empty or pages is not empty %}
        {% import _self as macros %}
        <ul>
            {%for node in leftnav(categories, pages) %}
                {% if node.type is defined %}
                    {{ macros.menu(node.children, node.pages) }}
                {% endif %}
                {% if node.type is defined and node.type == 'article' %}
                    <li>
                        <a href="{{path('article_list', {'name':node.name})}}">{{node.trans.title}}</a>
                    </li>
                {% elseif node.type is defined and node.type == 'download' %}
                    <li>
                        <a href="{{path('download_list', {'name':node.name})}}">{{node.trans.title}}</a>
                    </li>
                {% elseif node.type is defined and node.type == 'product' %}
                    <li>
                        <a href="{{path('product_list', {'name':node.name})}}">{{node.trans.title}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{path('page_show', {'name':node.name})}}">{{node.trans.title}}</a>
                    </li>
                {% endif %}
            {%endfor%}
        </ul>
    {% endif %}
{% endmacro %}
{% if topCategory is defined %}
    {% import _self as macros %}
    <div class="list_left_news">
        <h1>{{ topCategory.trans.title }}</h1>
        {{ macros.menu(topCategory.children, topCategory.pages) }}
        <div class="list_left_bot"></div>
    </div>
{% endif %}