{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'article.list'|trans }}{{ parent() }}{% endblock %}
{% block breadcrumd %}
    <div class="active section">{{ 'article.manage'|trans }}</div>
{% endblock %}
{% block content %}
    <table class="ui green table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" onclick="check_all(this, 'ids');" title="{{ 'common.select'|trans }}" />
                </th>
                <th>{{ 'article.title'|trans }}</th>
                <th>{{ 'article.category'|trans }}</th>
                <th>{{ 'article.create_time'|trans }}</th>
                <th>{{ 'article.update_time'|trans }}</th>
                <th>{{ 'article.source'|trans }}</th>
                <th>{{ 'article.is_active'|trans }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="id"><input type="checkbox" name="ids[]" value="{{ entity.id }}" /></td>
                <td>{{ entity.content.title }}</td>
                <td>{{ entity.content.category.title }}</td>
                <td>{{ entity.content.createTime|date('Y-m-d H:i') }}</td>
                <td>{{ entity.content.updateTime|date('Y-m-d H:i') }}</td>
                <td>{{ entity.source }}</td>
                <td>{{ entity.content.contentStatus.title }}</td>
                <td>
                    <div class="ui icon buttons">
                        <a class="ui button" href="{{ path('article_show', { 'id': entity.id }) }}"  title="{{ 'common.view'|trans }}" target="_blank">
                            <i class="external icon"></i>
                        </a>
                        <a class="ui button" href="{{ path('admin_article_edit', { 'id': entity.id }) }}" title="{{ 'common.edit'|trans }}">
                            <i class="edit icon"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="8">
                    <button class="ui left small olive button">
                        {{ 'common.approve'|trans }}
                    </button>
                    <button class="ui left small red button">
                        {{ 'common.deny'|trans }}
                    </button>
                    <a class="ui left small teal labeled icon button" href="{{ path('admin_article_new') }}">
                        <i class="archive icon"></i> {{ 'article.new'|trans }}
                    </a>
                    {{ knp_pagination_render(pagination) }}
                </th>
            </tr>
        </tfoot>
    </table>   
{% endblock %}