{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'article.list'|trans }}{% endblock %}
{% block breadcrumd %}
    <div class="active section">{{ 'article.manage'|trans }}</div>
{% endblock %}
{% block content %}
    <table class="ui green table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" onclick="check_all(this, 'ids');" title="{{ 'common.select'|trans }}" />
                </th>
                <th>{{ 'article.title'|trans }}</th>
                <th>{{ 'article.category'|trans }}</th>
                <th>{{ 'article.create_time'|trans }}</th>
                <th>{{ 'article.update_time'|trans }}</th>
                <th>{{ 'article.source'|trans }}</th>
                <th>{{ 'article.is_active'|trans }}</th>
                <th>{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="id"><input type="checkbox" name="ids[]" value="{{ entity.id }}" /></td>
                <td>{{ entity.trans.title }}</td>
                <td>{{ entity.category.trans.title }}</td>
                <td>{{ entity.createTime|date('Y-m-d H:i') }}</td>
                <td>{{ entity.updateTime|date('Y-m-d H:i') }}</td>
                <td>{{ entity.source }}</td>
                <td>{% if entity.isActive %}{{ 'common.yes'|trans }}{% else %}{{ 'common.no'|trans }}{% endif %}</td>
                <td>
                    <a href="{{ path('article_show', { 'id': entity.id }) }}" class="btn btn-success">{{ 'common.show'|trans }}</a>
                    <a href="{{ path('article_edit', { 'id': entity.id }) }}" class="btn btn-danger">{{ 'common.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="8">
                    <div class="ui left small button">
                        Approve
                    </div>
                    <div class="ui left small button">
                        Approve All
                    </div>
                    <a class="ui left small teal labeled icon button" href="{{ path('admin_article_new') }}">
                        <i class="archive icon"></i> {{ 'article.new'|trans }}
                    </a>
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>   
{% endblock %}