<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/myexpcms/semantic-ui/semantic.min.css') }}" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('bundles/myexpcms/css/front.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript">
                var base_url = '{{ app.request.getBaseURL() }}';
            </script>
            <script type="text/javascript" src="{{ asset('bundles/myexpcms/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/myexpcms/semantic-ui/semantic.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/myexpcms/js/front.js') }}"></script>
        {% endblock %}
    </body>
</html>
