{% extends 'SmtCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'page.list'|trans }}{% endblock %}
{% block breadcrumd %}
        <a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'page.manage'|trans }}</a></span>
{% endblock %}
{% block content %}
<table class="table table-striped table-bordered  ">
    <thead>
        <tr>
            <th class="id">{{ 'page.id'|trans }}</th>
            <th>{{ 'page.name'|trans }}</th>
            <th>{{ 'page.title'|trans }}</th>
            <th class="actions">{{ 'common.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td class="id"><a href="{{ path('page_show', { 'name': entity.name }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.trans.title }}</td>
            <td>
                <a href="{{ path('page_show', { 'name': entity.name }) }}" class="btn btn-success">{{ 'common.show'|trans }}</a>
                <a href="{{ path('page_edit', { 'id': entity.id }) }}" class="btn btn-danger">{{ 'common.edit'|trans }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{{ path('page_new') }}" method="GET">
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'page.new'|trans}}">
        {% include 'SmtCmsBundle:Chips:paginator.html.twig' %}
    </div>
</form>
    {% endblock %}