{% extends 'MyexpAdminBundle::finder.html.twig' %}
{% block title %}{{ 'link.edit'|trans }} - {{ 'link.manage'|trans }}{{ parent() }}{% endblock %}
{% block breadcrumd %}
    <a class="section" href="{{ path('admin_link') }}">{{ 'link.manage'|trans }}</a>
    <i class="right angle icon divider"></i>
    <div class="active section">{{ 'link.edit'|trans }}</div>
{% endblock %}
{% block content %}
    {{ form(edit_form) }}
    <div class="ui horizontal divider"> {{ 'common.or'|trans }} </div>
    <div class="ui delete form">
    {{ form(delete_form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            initFinder($('.ui.card.logo-container'));
        });
    </script>
{% endblock %}