{% macro breadcrumb(category) %}
    {% import _self as macros %}
    {% if category.parent is not empty %}
        {{ macros.breadcrumb(category.parent) }}
    {% endif %}
    {% if category.type == 'article' %}
        > <a href="{{path('article_list', {'name':category.name})}}">{{category.trans.title}}</a>
    {% elseif category.type == 'download' %}
        > <a href="{{path('download_list', {'name':category.name})}}">{{category.trans.title}}</a>
    {% elseif category.type == 'product' %}
        > <a href="{{path('product_list', {'name':category.name})}}">{{category.trans.title}}</a>
    {% else %}
        > {{category.trans.title}}
    {% endif %}
{% endmacro %}
{% import _self as macros %}
{% if category is defined %}
    <div class="list_right_cur">{{ 'nav.location'|trans }}: <a href="{{ path('homepage') }}">{{ 'nav.home'|trans }}</a> {{ macros.breadcrumb(category) }}</div>
{% endif %}