<div class="paginator">
    {% if paginator.showLimit %}
    <div class="limit">
        <label>{{ 'paginator.limit' | trans }}</label>
        <select onchange="paginator_jump(this);">
                {% for opt in paginator.limitOptions %}
                    {% if opt > 0 %}
                <option value="{{opt}}" {% if paginator.limit == opt %}selected {% endif %}>{{opt}}</option>
                    {% endif %}
                {% endfor %}
            <option value="0" {% if paginator.limit==0 %}selected{% endif %}>{{ 'paginator.all' | trans }}</option>
        </select>
    </div>
    {% endif %}
    <div class="links">
        <ul>
            {% for link in paginator.links %}
                {% if link.number==paginator.currentpage %}
                <li class="active"><span>{{link.number}}</span></li>
                {% else %}
                <li><a href="{{ link.url }}">{{link.content|raw}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript">
    function paginator_jump (obj){
        var limit = $(obj).val();
        window.location = '{{ paginator.limitUrl|raw }}'.replace('paginator_limit', limit);
    }
</script>