{% extends 'MyexpCmsBundle::layout.html.twig' %}
{% block title %}{{ entity.trans.title }}{{ parent() }}{% endblock %}
{% block content %}
 <div class="list_right_side">
     <div class="news_content">
<form action="{{ path('link_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="form">
        {{ form_widget(form) }}
            <div class="buttons">
                <input type="submit" value="{{ 'common.submit'|trans }}" />
                <input type="reset" value="{{ 'common.reset'|trans }}" />
            </div>
        </div>
    </form>
   <div class="form-actions">
            <a href="{{ path('link') }}">{{ 'common.back_list'|trans }}</a>
   </div>
        </div>
    </div>
{% endblock %}
