{% extends 'MyexpCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'link.show'|trans }}{% endblock %}
{% block content %}
<table class="table table-striped table-bordered bootstrap-datatable datatable">
    <tbody>
        <tr>
            <th>{{ 'link.id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'link.title'|trans }}</th>
            <td>{{ entity.trans.title }}</td>
        </tr>
        <tr>
            <th>{{ 'link.path'|trans }}</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>{{ 'link.order'|trans }}</th>
            <td>{{ entity.sortOrder }}</td>
        </tr>
        <tr>
            <th>{{ 'link.photo'|trans }}</th>
            <td><img src="{{ asset(entity.picurl|picurl) }}" /></td>
        </tr>
    </tbody>
</table>
<form action="{{ path('link_delete', { 'id': entity.id }) }}" method="post">
    <div class="form-actions">
        <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-warning" onclick="return confirm('{{ 'common.delete_confirm'|trans }}');">{{ 'common.delete'|trans }}</button>
        <input class="btn btn-primary" type="submit" value="{{ 'common.back_list'|trans }}"  onclick="saveToDraft(this, '{{ path('link') }}');" />
        <input class="btn" type="submit" value="{{ 'common.edit'|trans }}"  onclick="saveToDraft(this, '{{ path('link_edit', { 'id': entity.id }) }}');" />
    </div>
</form>
{% endblock %}
