{% extends 'CmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'nav.home'|trans }}{{ parent() }}{% endblock %}
{% block breadcrumd %}
    <a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> > <a href="{{app.request.getRequestUri()}}">{{ 'back.dashboard'|trans }}</a></span>
{% endblock %}
{% block content %}
<div id="page">
    <div>
        <h3>{# "user.welcome" | trans({'%name%': app.user.username}) #}!</h3>
    </div>
    <div>
        <h4>{{ 'user.last_login'|trans }}:</h4>
        <p>{# app.user.lastLogin|date('Y-m-d H:i') #}<br /></p>
    </div>
</div>
{% endblock %}
