{% extends 'base.html.twig' %}

{% block body %}
    <h1>ContentModel list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Entityname</th>
                <th>Isclassable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contentModel in contentModels %}
            <tr>
                <td><a href="{{ path('contentmodel_show', { 'id': contentModel.id }) }}">{{ contentModel.id }}</a></td>
                <td>{{ contentModel.name }}</td>
                <td>{{ contentModel.title }}</td>
                <td>{{ contentModel.entityName }}</td>
                <td>{% if contentModel.isClassable %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contentmodel_show', { 'id': contentModel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contentmodel_edit', { 'id': contentModel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contentmodel_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
