{% extends 'MyexpAdminBundle::layout.html.twig' %}
{% block title %}{{ 'slider.show'|trans }}{% endblock %}
{% block breadcrumd %}
<a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> ><a href="{{path('slider')}}">{{ 'slider.manage'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'slider.show'|trans }}</a></span>
{% endblock %}
{% block content %}
<table class="table table-striped table-bordered bootstrap-datatable datatable">
    <tbody>
        <tr>
            <th>{{ 'slider.id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'slider.name'|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{{ 'slider.title'|trans }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'slider.photo_total'|trans }}</th>
            <td>{{ entity.sliderPhotos.count }}</td>
        </tr>
    </tbody>
</table>
<div class="record_actions">
    <form action="{{ path('slider_delete', { 'id': entity.id }) }}" method="post">       
        <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
        <button type="submit"  class="btn btn-warning" onclick="return confirm('{{ 'common.delete_confirm'|trans }}');">{{ 'common.delete'|trans }}</button>
        <input class="btn btn-primary" type="submit" value="{{ 'common.back_list'|trans }}"  onclick="saveToDraft(this, '{{ path('slider') }}');" />
        <input class="btn" type="submit" value="{{ 'common.edit'|trans }}"  onclick="saveToDraft(this, '{{ path('slider_edit', { 'id': entity.id }) }}');" />
    </form>

</div>
{% endblock %}
