{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'page.edit'|trans }}{% endblock %}
{% block breadcrumd %}
    <a class="section" href="{{ path('admin_page') }}">{{ 'page.manage'|trans }}</a>
    <i class="right angle icon divider"></i>
    <div class="active section">{{ 'page.edit'|trans }}</div>
{% endblock %}
{% block content %}
    {{ form_start(edit_form, {action: path('admin_page_update', {id:entity.id}), method: 'put'}) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
    
    {{ form_start(delete_form, {action: path('admin_page_delete', {id:entity.id}), method: 'delete'}) }}
    {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}
{% endblock %}