{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'page.list'|trans }}{% endblock %}
{% block breadcrumd %}
    <div class="active section">{{ 'page.manage'|trans }}</div>
{% endblock %}
{% block content %}
<table class="ui green table">
    <thead>
        <tr>
            <th>
                <input class="ui checkbox" type="checkbox" onclick="check_all(this, 'ids');" title="{{ 'common.select'|trans }}" />
                {{ 'common.select'|trans }}
            </th>
            <th>{{ 'page.name'|trans }}</th>
            <th>{{ 'page.title'|trans }}</th>
            <th>{{ 'common.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in pagination %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td>
                <input class="ui checkbox" type="checkbox" title="{{ 'common.select'|trans }}" />
            </td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.title }}</td>
            <td>
                <div class="ui icon buttons">
                    <a class="ui button" href="{{ path('page_show', { 'id': entity.id }) }}"  title="{{ 'common.view'|trans }}" target="_blank">
                        <i class="external icon"></i>
                    </a>
                    <a class="ui button" href="{{ path('admin_page_edit', { 'id': entity.id }) }}" title="{{ 'common.edit'|trans }}">
                        <i class="edit icon"></i>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="8">
                <button class="ui left small olive button">
                    {{ 'common.approve'|trans }}
                </button>
                <button class="ui left small red button">
                    {{ 'common.deny'|trans }}
                </button>
                <a class="ui left small teal labeled icon button" href="{{ path('admin_page_new') }}">
                    <i class="file icon"></i> {{ 'page.new'|trans }}
                </a>
                {{ knp_pagination_render(pagination) }}
            </th>
        </tr>
    </tfoot>
</table>
{% endblock %}