{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'page.list'|trans }}{% endblock %}
{% block breadcrumd %}
    <div class="active section">{{ 'page.manage'|trans }}</div>
{% endblock %}
{% block content %}
<table class="ui green table">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'page.id'|trans, 'a.id') }}</th>
            <th>{{ 'page.name'|trans }}</th>
            <th>{{ 'page.title'|trans }}</th>
            <th>{{ 'common.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in pagination %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td><a href="{{ path('page_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.title }}</td>
            <td>
                <a href="{{ path('page_show', { 'id': entity.id }) }}" class="btn btn-success">{{ 'common.show'|trans }}</a>
                <a href="{{ path('admin_page_edit', { 'id': entity.id }) }}" class="btn btn-danger">{{ 'common.edit'|trans }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="8">
                <div class="ui left small button">
                    Approve
                </div>
                <div class="ui left small button">
                    Approve All
                </div>
                <a class="ui left small teal labeled icon button" href="{{ path('admin_page_new') }}">
                    <i class="file icon"></i> {{ 'page.new'|trans }}
                </a>
                {{ knp_pagination_render(pagination) }}
            </th>
        </tr>
    </tfoot>
</table>
{% endblock %}