{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'page.new'|trans }}{% endblock %}
{% block breadcrumd %}
    <a class="section" href="{{ path('admin_page') }}">{{ 'page.manage'|trans }}</a>
    <i class="right angle icon divider"></i>
    <div class="active section">{{ 'page.new'|trans }}</div>
{% endblock %}
{% block content %}
    {{ form(form) }}
{% endblock %}