{% extends 'MyexpCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'download.edit'|trans }}{% endblock %}
{% block breadcrumd %}
        <a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> ><a href="{{path('download')}}">{{ 'download.manage'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'download.edit'|trans }}</a></span>
{% endblock %}
{% block content %}
<form action="{{ path('download_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ 'common.submit'|trans }}" />
            <input type="reset" class="btn btn-danger" value="{{ 'common.reset'|trans }}" />
        </div>

</form>
<form action="{{ path('download_delete', { 'id': entity.id }) }}" method="post">
    <div class="form-actions">
        <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-warning" onclick="return confirm('{{ 'common.delete_confirm'|trans }}');">{{ 'common.delete'|trans }}</button>
        <input class="btn btn-primary" type="submit" value="{{ 'common.back_list'|trans }}"  onclick="saveToDraft(this, '{{ path('download') }}');" />
        
    </div>
</form>
   {% endblock %}

