{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'download.manage'|trans }}{{ parent() }}{% endblock %}
{% block breadcrumd %}
    <div class="active section">{{ 'download.manage'|trans }}</div>
{% endblock %}
{% block content %}
    <table class="ui green table">
        <thead>
            <tr>
                <th class="id"><input type="checkbox" onclick="check_all(this, 'ids');" title="{{ 'common.select'|trans }}" /></th>
                <th>{{ 'download.id'|trans }}</th>
                <th>{{ 'download.title'|trans }}</th>               
                <th>{{ 'download.is_active'|trans }}</th>
                <th>{{ 'download.category'|trans }}</th>
                <th class="actions">{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="id"><input type="checkbox" name="ids[]" value="{{ entity.id }}" /></td>
                <td><a href="{{ path('download_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.isActive %}{{ 'common.yes'|trans }}{% else %}{{ 'common.no'|trans }}{% endif %}</td>
                <td>{{ entity.category.trans.title }}</td>
                <td>
                    <a href="{{ path('admin_download_edit', { 'id': entity.id }) }}" class="ui button">{{ 'common.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="8">
                    <div class="ui left small button">
                        Approve
                    </div>
                    <div class="ui left small button">
                        Approve All
                    </div>
                    <a class="ui left small teal labeled icon button" href="{{ path('admin_download_new') }}">
                        <i class="archive icon"></i> {{ 'download.new'|trans }}
                    </a>
                    {{ knp_pagination_render(pagination) }}
                </th>
            </tr>
        </tfoot>
    </table>
    {% endblock %}



