{% extends 'MyexpCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'download.show'|trans }}{% endblock %}
{% block breadcrumd %}
    <a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> ><a href="{{path('download')}}">{{ 'download.manage'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'download.show'|trans }}</a></span>
{% endblock %}
{% block content %}
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>{{ 'download.id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'download.title'|trans }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'download.url'|trans }}</th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>{{ 'download.publish_time'|trans }}</th>
            <td>{{ entity.publishTime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'download.is_active'|trans }}</th>
            <td>{{ entity.isActive }}</td>
        </tr>
        <tr>
            <th>{{ 'download.category'|trans }}</th>
            <td>{{ entity.category.trans.title }}</td>
        </tr>
    </tbody>
</table>
<form>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'common.back_list'|trans }}"  onclick="saveToDraft(this, '{{ path('download') }}');" />
    </div>
</form>
{% endblock %}
