{% extends 'MyexpAdminBundle::base.html.twig' %}
{% block title %}{{ 'website.new'|trans }} - {{ 'website.manage'|trans }}{{ parent() }}{% endblock %}
{% block breadcrumd %}
    <a class="section" href="{{ path('admin_website') }}">{{ 'website.manage'|trans }}</a>
    <i class="right angle icon divider"></i>
    <div class="active section">{{ 'website.new'|trans }}</div>
{% endblock %}
{% block content %}
    {{ form(form) }}
{% endblock %}
