{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/myexpcms/jstree/themes/default/style.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}{{ 'menu.edit'|trans }} - {{ 'menu.manage'|trans }}{{ parent() }}{% endblock %}
{% block breadcrumd %}
    <a class="section" href="{{ path('admin_menu') }}">{{ 'menu.manage'|trans }}</a>
    <i class="right angle icon divider"></i>
    <div class="active section">{{ 'menu.edit'|trans }}</div>
{% endblock %}
{% block content %}
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="tab-info">{{ 'menu.info'|trans }}</a>
        <a class="item" data-tab="tab-items">{{ 'menu.items'|trans }}</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="tab-info">
        {{ form(edit_form) }}
        <div class="ui horizontal divider"> {{ 'common.or'|trans }} </div>
        <div class="ui delete form">
        {{ form(delete_form) }}
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="tab-items">
        {% include 'MyexpCmsBundle:Admin/MenuItem:index.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var menuId = {{ entity.id }};
    </script>
    <script type="text/javascript" src="{{ asset('bundles/myexpcms/jstree/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/myexpcms/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/myexpcms/js/menu.js') }}"></script>
{% endblock %}