<div class="nav">
    <ul class="w1000">
    {% for navMenu in navMenus %}
        <li>
            <a{% if(navMenu.current) %} class="current"{% endif %} href="{{ navMenu.link }}">{{ navMenu.title }}</a>
{% if navMenu.children is not null %}
            <div id="child">
{% for navChild in navMenu.children %}
                {% if loop.length >2 and loop.length <= 4 %}
                <ul style="margin-left: -50px;"><li><a class="menu_link" href="{{ navChild.link }}">{{ navChild.title }}</a></li></ul>
                <ul style="margin-left: -50px;"><li><a class="a_forbid">&nbsp;|&nbsp;</a></li></ul>
                {% elseif loop.length >=5 %}
                <ul style="margin-left: -250px;"><li><a class="menu_link" href="{{ navChild.link }}">{{ navChild.title }}</a></li></ul>
                <ul style="margin-left: -250px;"><li><a class="a_forbid">&nbsp;|&nbsp;</a></li></ul>
                {% else %}
                <ul><li><a class="menu_link" href="{{ navChild.link }}">{{ navChild.title }}</a></li></ul>
                <ul><li><a class="a_forbid">&nbsp;|&nbsp;</a></li></ul>
                {% endif %}

{% endfor %}
            </div>
{% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
