{% extends 'SmtCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'photo.edit'|trans }}{% endblock %}
{% block breadcrumd %}
<a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> ><a href="{{path('photo')}}">{{ 'photo.manage'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'photo.show'|trans }}</a></span>
{% endblock %}
{% block content %}
<div class="fl half">{% if entity.picurl %}<img src="{{ asset(entity.picurl|picurl) }}" class="dimg">{% endif %}</div>
<div class="fr half">
<p>{{ entity.trans.content }}</p></div>
    <div class="clear"></div>
{% endblock %}