<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('bundles/myexpfront/css/bootstrap.min.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('bundles/myexpfront/css/flexslider.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('bundles/myexpfront/css/font-awesome.min.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('bundles/myexpfront/css/style.css') }}" type="text/css"/>
        {% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/myexpfront/js/jquery.min.js') }}"></script>
    </head>
    <body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script type="text/javascript">
                var base_url = '{{ app.request.getBaseURL() }}';
        </script>
        <script type="text/javascript" src="{{ asset('bundles/myexpfront/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/myexpfront/js/jquery.flexslider.js') }}"></script>
    {% endblock %}
    </body>
</html>
