<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/myexpcms/css/semantic.min.css') }}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/myexpcms/css/admin.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            
            <div class="ui teal inverted menu fluid">
                <div class="header item">K-CMS</div>
                <div class="active item"><i class="home icon"></i>管理首页</div>
                <a class="item" href="/"><i class="browser icon"></i>网站首页</a>
                <div class="right menu">
                    <div class="item">
                        <div class="ui transparent inverted icon input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search">
                        </div>
                    </div>
                    <div class="ui dropdown item">
                        <i class="dropdown icon"></i>
                        <div class="menu transition hidden" tabindex="-1">
                            <div class="item">Action</div>
                            <div class="item">Another Action</div>
                            <div class="item">Something else here</div>
                            <div class="divider"></div>
                            <div class="item">Separated Link</div>
                            <div class="divider"></div>
                            <a class="item" href="{{ path('user_logout') }}">退出</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="ui grid">
                    <div class="three wide column">
                        <div class="ui vertical pointing menu fluid">
                            {% if primaryMenu is not defined %}
                                {% set primaryMenu = "" %}
                            {% endif %}
                            <a class="{% if primaryMenu == "admin_homepage" %}active teal {% endif %}item" href="{{ path('admin_homepage') }}">
                                <i class="dashboard icon"></i> 控制面板
                            </a>
                            <a class="{% if primaryMenu == "admin_article" %}active teal {% endif %}item" href="{{ path('admin_article') }}">
                                <i class="archive icon"></i> 文章管理
                            </a>
                            <a class="{% if primaryMenu == "admin_page" %}active teal {% endif %}item" href="{{ path('admin_page') }}">
                                <i class="file icon"></i> 页面管理
                            </a>
                            <a class="{% if primaryMenu == "admin_product" %}active teal {% endif %}item" href="{{ path('admin_product') }}">
                                <i class="database icon"></i> 产品管理
                            </a>
                            <a class="{% if primaryMenu == "admin_album" %}active teal {% endif %}item" href="{{ path('admin_album') }}">
                                <i class="photo icon"></i> 相册管理
                            </a>
                            <a class="{% if primaryMenu == "admin_user" %}active teal {% endif %}item" href="{{ path('admin_user') }}">
                                <i class="user icon"></i> 用户管理
                            </a>
                            <a class="{% if primaryMenu == "admin_settings" %}active teal {% endif %}item" href="#">
                                <i class="settings icon"></i> 系統设置
                            </a>
                        </div>
                    </div>
                    <div class="thirteen wide column">
                        {% if app.session.started %}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="flash_notice">{{ flashMessage | trans }}</div>
                            {% endfor %}
                        {% endif %}
                    {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

            <div id="footer-copyright">
                <p>&copy; {{ 'now'|date('Y') }} - The K-CMS</p>
            </div>

        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/myexpcms/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/myexpcms/js/semantic.min.js') }}"></script>
        <script type="text/javascript">
            var base_url = '{{ app.request.getBaseURL() }}';
            $(document).ready(function () {
                $('.flash_notice').slideUp(2000);
                $('.ui.menu .ui.dropdown').dropdown({
                    on: 'hover'
                });
                $('.ui.menu a.item').on('click', function () {
                    $(this).addClass('active').siblings().removeClass('active');
                });
            });
        </script>
        {% endblock %}
    </body>
</html>




