{% extends 'MyexpCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'user.edit'|trans }}{% endblock %}
{% block breadcrumd %}
<a href="{{ path('admin_homepage') }}">{{ 'nav.home'|trans }}</a> ><a href="{{path('admin_user')}}">{{ 'user.manage'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'user.edit'|trans }}</a></span>
{% endblock %}
{% block content -%}
<form action="{{ path('admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="ui form">
    <div class="form">
        <input type="hidden" name="_method" value="PUT" />
       {{ form_widget(edit_form) }}
        <div class="form_actions">
            <input class="btn btn-primary" type="submit" value="{{ 'common.submit'|trans }}" />
            <input class="btn btn-danger" type="reset" value="{{ 'common.reset'|trans }}" />
        </div>
    </div>
</form>

{% endblock %}
