{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'user.list'|trans }}{% endblock %}
{% block breadcrumd %}
    <a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'user.manage'|trans }}</a></span>
{% endblock %}
{% block content %}

<div class="ui breadcrumb">
  <a class="section">Home</a>
  <i class="right angle icon divider"></i>
  <a class="section">Store</a>
  <i class="right angle icon divider"></i>
  <div class="active section">T-Shirt</div>
</div>

<table class="ui green table">
    <thead>
        <tr>
            <th>{{ 'common.select'|trans }}</th>
            <th>{{ 'user.username'|trans }}</th>
            <th>{{ 'user.email'|trans }}</th>
            <th>{{ 'user.last_login'|trans }}</th>
            <th>{{ 'user.active'|trans }}</th>
            <th>{{ 'common.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td>
                    <div class="ui fitted checkbox">
                        <input type="checkbox"> <label></label>
                    </div>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.lastLogin|date('Y-m-d H:i') }}</td>
                <td>{% if entity.isActive %}{{ 'common.yes'|trans }}{% else %}{{ 'common.no'|trans }}{% endif %}</td>
                <td>
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="ui button">{{ 'common.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6">
                <div class="ui left small button">
                    Approve
                </div>
                <div class="ui left small button">
                    Approve All
                </div>
                <div class="ui left small teal labeled icon button">
                    <i class="user icon"></i> Add User
                </div>
                <div class="ui right floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>

{% endblock %}
