{% extends 'MyexpCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'user.new'|trans }}{% endblock %}
{% block content %}
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section">Store</a>
        <i class="right angle icon divider"></i>
        <div class="active section">T-Shirt</div>
    </div>

    <form action="{{ path('admin_user_create') }}" method="post" {{ form_enctype(form) }} class="ui form">
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(form) }}
        <button class="ui button" type="submit">{{ 'common.submit'|trans }}</button>
    </form>

{% endblock %}
