{% extends 'SmtCmsBundle:Admin:layout.html.twig' %}
{% block title %}{{ 'user.password.change'|trans }}{% endblock %}
{% block breadcrumd %}
<a href="{{ path('admin') }}">{{ 'nav.home'|trans }}</a> ><a href="{{path('user')}}">{{ 'user.manage'|trans }}</a> ><a href="{{app.request.getRequestUri()}}">{{ 'user.password.change'|trans }}</a></span>
{% endblock %}
{% block content %}
<form action="{{ path('user_password_do') }}" method="post" {{ form_enctype(form) }}>
  <div id="password_form" class="form">
       <input type="hidden" name="_method" value="PUT" />
       {{ form_widget(form) }}
       <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{{ 'common.submit'|trans }}" />
            <input class="btn btn-danger" type="reset" value="{{ 'common.reset'|trans }}" />
        </div>
    </div>
</form>
{% endblock %}
