{% extends 'SmtCmsBundle::layout.html.twig' %}
{% block title %}{{ entity.trans.title }}{{ parent() }}{% endblock %}
{% block content %}
<div id="slider">
    <div class="slider_thumb fl">
    {% for photo in entity.photos %}
        <div class="thumb"><img src="{{ asset(photo.picurl|picurl)| imagine_filter('123x82') }}" title="{{ photo.trans.content }}" /></div>
    {% endfor %}
    </div>
    <div class="slider_big fr">
        {% for photo in entity.photos %}
        <div class="big">
            <img src="{{ asset(photo.picurl|picurl) }}" title="{{ photo.trans.content }}" />
            <p class="title">{{ photo.trans.content }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    var t = 0, n = 0, count = 0;
    $(document).ready(function() {

        count = $(".slider_thumb img").length;

        $(".slider_big div:not(:first-child)").hide();

        $(".slider_thumb img").click(function() {

            var i = $(".slider_thumb img").index(this);
            n = i;

            if (i >= count)
                return;

            //当前图片退出

            //显示新图片
            $(".slider_big div").filter(":visible").fadeOut(500).parent().children().eq(i).fadeIn(2000);
        });

        t = setInterval("auto_play()", 4000);

        $(".slider_thumb img").hover(function() {
            clearInterval(t);
        }, function() {
            t = setInterval("auto_play()", 4000);
        });
    });

    function auto_play() {
        n = n >= (count - 1) ? 0 : ++n;
        $(".slider_thumb img").eq(n).trigger('click');
    }
</script>
{% endblock %}
