{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'album.manage'|trans }}{% endblock %}
{% block breadcrumd %}
    <div class="active section">{{ 'album.manage'|trans }}</div>
{% endblock %}
{% block content %}
<table class="ui green table">
    <thead>
        <tr>
            <th class="id">{{ 'album.id'|trans }}</th>
            <th>{{ 'album.title'|trans }}</th>
            <th>{{ 'album.name'|trans }}</th>
            <th>{{ 'album.photos'|trans }}</th>
            <th class="actions">{{ 'common.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in pagination %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td class="id"><a href="{{ path('album_show', { 'name': entity.name }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.trans.title }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.photos.count }}</td>
            <td>
                <a href="{{ path('album_show', { 'name': entity.name }) }}" class="btn btn-success">{{ 'common.show'|trans }}</a>
                <a href="{{ path('album_edit', { 'id': entity.id }) }}" class="btn btn-danger">{{ 'common.edit'|trans }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="8">
                <div class="ui left small button">
                    Approve
                </div>
                <div class="ui left small button">
                    Approve All
                </div>
                <a class="ui left small teal labeled icon button" href="{{ path('admin_album_new') }}">
                    <i class="archive icon"></i> {{ 'album.new'|trans }}
                </a>
                {{ knp_pagination_render(pagination) }}
            </th>
        </tr>
    </tfoot>
</table>
{% endblock %}
